<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.png" alt="Food Monger logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/truck" class="pa3 no-underline db">Truck Menu</a></li>

		<li><a href="/catering" class="pa3 no-underline db">Catering Menu</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact Us!</a></li>
	</ul>

</nav>
