	<div class="mw7 center">
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">Breakfast Sandwiches served on a Brioche Bun w/ FM Jalapeno Aioli</p> <br />
2 Fried Egg with your choice of:
<ul class="pa3">
<li>Provolone or Cheddar Cheese</li> 
<li>Bacon, FM Sausage, or FM Chorizo</li>
</ul>
$9 per person </p>
</ul>
<p class="b f4 di lh-title mb3 white mw6 bg-primary">Build Your Own Breakfast Tacos Bar</p><br />
Scrambled Eggs and your choice of two of the following: <ul class="pa3">
    <li>Bacon, FM Sausage, FM Chorizo, Potatoes or Re-Fried Beans</li></ul>
Served with Tortillas &amp; Salsa. <br />
$9.5 per person </p>

<p class="b f4 di lh-title mb3 white mw6 bg-primary">Sandwiches served on a Brioche Bun</p><br />
With your choice of:
<ul class="pa3"><li>Turkey, Ham, Grilled Chicken or Veggie </li>
<li>Provolone or Cheddar Cheese<li />
    <li>Jalapeno Aioli or FM Mustard<li /></ul>
All sandwiches are &ldquo;dressed&rdquo; with spring mix and tomato. FM Pickles on the side.<br />
$10.5 per person </p>

<p class="b f4 di lh-title mb3 white mw6 bg-primary">Wraps</p> <br />
<ol class="pa3">
<li>Turkey Bacon Wrap with Roasted Turkey, Bacon, Spring Mix, FM Pico &amp; FM Avocado Ranch</li>
<li>Grilled Chicken Cesar Warp with Grilled Chicken, FM Cesar Dressing, Romaine Lettuce Diced Tomato &amp; Parmesan Cheese</li>
<li>Buffalo Wrap with 2 FM Cluckers (Our Famous Chicken Tenders) tossed in FM Buffalo Sauce, Spring Mix, FM Pico &amp; FM Avocado Ranch </li>
<li>Bean &amp; Quinoa Wrap with Black &amp; Pinto Beans, Quinoa, FM Avocado Lime Sauce, Spring Mix, FM Pico &amp; Roasted Corn</li>
</ol>
$10.5 per person </p>

<p class="b f4 di lh-title mb3 white mw6 bg-primary">Build Your Own Taco Bar</p><br />
Beef, Chicken or Pork<br />
Served with Saut&eacute;ed Peppers &amp; Onions <br />
Soft Flour Tortillas. <br />
Includes Spanish Rice, Pinto or Black Beans FM Pico, Fresh Salsa, Sour Cream and Shredded Cheese<br />
$13.5 per person </p>

<p class="b f4 di lh-title mb3 white mw6 bg-primary">Build Your Own Salad Bar</p><br />
Spring Mix, Grilled Chicken, Shredded Carrots, Cucumbers, Cherry Tomatoes, Celery, Bacon, Shredded Cheese, Croutons, FM Vinaigrette &amp; FM Avocado Ranch <br />
$13.5 per person </p>
