{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}


{{ partial "takeoutmenu" .Params.intro }}


{{ with .Params.main }}
<div class="center mb3 ph3">
    <blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
      <p class="f4 mb0">{{ .heading }}</p>
      <cite class="tr db grey-3">{{ .description }}</cite>
      <cite class="tr db grey-3">{{ .upgrade }}</cite>
      <cite class="tr db red">*{{ .note }}</cite>
    
    </blockquote>
  </div>
  



<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>


{{ end }}
